{% extends "base.html" %}

{% block body %}

<!-- Header image -->
<div class="container-fluid text-center p-3" style="background-image: url('{{ url_for('static', filename='images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-position: center bottom;">
    <div class="text-light my-5">
        <img src="{{ url_for('static', filename='images/pop_logo.png')}}" alt="Pop!" style="max-width: 200px;">
        <h3> Discover, Groove, and Elevate with AI-powered music service. </h2>
    </div>

    <form action="/discover" method="POST">
        <button type="submit" class="btn btn-dark btn-lg"> Discover </button>
    </form>
</div>
<!-- Header image -->

<!-- Trending Today-->
<div class="container-fluid p-5 text-light">
    <h1 class="py-3"> Trending Today </h1>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <a href="/song/Olivia Rodrigo/vampire">
                <div class="card text-white bg-dark">
                <img src="https://i.scdn.co/image/ab67616d0000b2731e5e75dc1d878a0007cb6525" class="card-img-top" alt="vampire - Olivia Rodrigo">
                <div class="card-body">
                    <h5 class="card-title">vampire</h5>
                    <h6 class="card-subtitle text-muted mb-2">Olivia Rodrigo</h6>
                </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/song/FIFTY FIFTY/Cupid - Twin Ver.">
                <div class="card text-white bg-dark">
                <img src='https://i.scdn.co/image/ab67616d0000b27337c0b3670236c067c8e8bbcb' class="card-img-top" alt="Cupid - Twin Ver. - FIFTY FIFTY">
                <div class="card-body">
                    <h5 class="card-title">Cupid - Twin Ver.</h5>
                    <h6 class="card-subtitle text-muted mb-2">FIFTY FIFTY</h6>
                </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/song/Miley Cyrus/Flowers">
                <div class="card text-white bg-dark">
                <img src='https://i.scdn.co/image/ab67616d0000b273f429549123dbe8552764ba1d' class="card-img-top" alt="Flowers - Miley Cyrus">
                <div class="card-body">
                    <h5 class="card-title">Flowers</h5>
                    <h6 class="card-subtitle text-muted mb-2">Miley Cyrus</h6>
                </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/song/OneRepublic/I Ain't Worried">
                <div class="card text-white bg-dark">
                <img src='https://i.scdn.co/image/ab67616d0000b273ec96e006b8bdfc582610ec13' class="card-img-top" alt="I Ain't Worried - OneRepublic">
                <div class="card-body">
                    <h5 class="card-title">I Ain't Worried</h5>
                    <h6 class="card-subtitle text-muted mb-2">OneRepublic</h6>
                </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/song/Harry Styles/As It Was">
                <div class="card text-white bg-dark">
                <img src='https://i.scdn.co/image/ab67616d0000b273b46f74097655d7f353caab14' class="card-img-top" alt="As It Was - Harry Styles">
                <div class="card-body">
                    <h5 class="card-title">As It Was</h5>
                    <h6 class="card-subtitle text-muted mb-2">Harry Styles</h6>
                </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/song/Bruno Mars/Locked out of Heaven">
                <div class="card text-white bg-dark">
                <img src="https://i.scdn.co/image/ab67616d0000b273926f43e7cce571e62720fd46" class="card-img-top" alt="Bruno Mars - Locked out of Heaven">
                <div class="card-body">
                    <h5 class="card-title">Locked out of Heaven</h5>
                    <h6 class="card-subtitle text-muted mb-2">Bruno Mars</h6>
                </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Trending Today-->

<!-- For You -->

{% endblock %}