{% extends "base.html" %}

{% block body %}

<div class="container-fluid text-center p-3" style="background-image: url('{{ url_for('static', filename='images/marcela-laskoski-YrtFlrLo2DQ-unsplash.png') }}'); background-size: cover; background-repeat: no-repeat; background-position: center bottom;">
        <form action="/discover" method="POST">
            <button type="submit" class="btn btn-dark btn-lg"> Discover </button>
        </form>
</div>

<div class="p-3">
    <div class="card mb-3 text-white bg-dark p-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{image_url}}" class="img-fluid rounded-start" alt="{{song_name}}">
        </div>
        <div class="col-md-8 px-4">
            <div class="card-body px-0 py-3">
                <div>
                    <h1 class="card-title">{{song_name}}</h1>
                    <h2 class="card-subtitle text-muted">{{artist_name}}</h2>
                </div>
                <div class="audio-player pt-5 pb-1">
                {% if song_url %}
                    <audio controls="" autoplay="" name="media">
                    <source src="{{song_url}}" type="audio/mpeg">
                    </audio>
                {% else %}
                <h6 class="card-subtitle text-muted">No preview available</h6>
                {% endif %}
                </div>
                <div>
                    <div>
                        <i class="bi bi-hand-thumbs-up-fill pr-3"></i>
                        <h6 class="d-inline">136K</h6>
                    </div>
                    <div>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <h6 class="d-inline">5K</h6>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    </div>
</div>



{% endblock %}